.wrapper {
					display: flex;
					flex-direction: column;
					margin-top: 170px;
}

.banner {
					position: relative;
					padding: 45px 0 60px 0;
					background-image: url('../../assets/images/Collection/banner.png');
					background-size: cover;
					background-position: center;
					
					display: flex;
					flex-direction: column;
					align-items: center;
}

.content {
					max-width: 1140px;
					text-align: center;
					h2 {
										font-size: 60px;
										text-align: center;
										font-family: var(--heading-text);
										margin-bottom: 8px;
					}
}

.collection-content {
					flex: 1;
					.product {
								 width: 100%;   
					}
					.grid-2 {
										display: grid;
										grid-template-columns: 1fr 1fr;
					}
					.grid-3 {
						display: grid;
						grid-template-columns: repeat(3, 1fr);
					}
					.grid-4 {
						display: grid;
						grid-template-columns: repeat(4, 1fr);
					}
					.grid-1 {
						display: grid;
						grid-template-columns: 1fr;
					}
}

.sidebar {
			 .display {
							display: none;
			 }
			 .subtitle {
							font-family: 'Lato';
							display: flex;
							justify-content: space-between;
							align-items: center;
							p, span {
										 font-size: 14px;
										 text-transform: capitalize;
										 letter-spacing: normal;
										 color: #868686;
							}
							span {
										 display: inline-block;
										 width: 24px;
										 height: 24px;
										 border-radius: 50%;
										 line-height: 22px;
										 text-align: center;
										 font-size: 11px;
										 background: #f1f1f1;
										 
							}
			 }
			 .color {
				width: 24px;
				height: 24px;
				border-radius: 50%;
				border: 1px solid #eee;
				display: inline-block;
				position: relative;
				margin-right: 10px;
				top: 4px;
				left: 4px;
				&::before{
					content: "";
					position: absolute;
					top: -4px;
					left: -4px;
					border: 1px solid #cdcdcd;
					border-radius: 50%;
					width: calc(100% + 8px);
					height: calc(100% + 8px);
				}
			 }
			 .size {
				font-size: 12px;
				padding: 10px;
				line-height: 20px;
				position: relative;
				min-width: 20px;
				display: inline-block;
				border: 1px solid #ddd;
				box-sizing: content-box;
				text-align: center;
			 }
}
.product-col {
					flex: 0 0 50%;
					padding: 0 15px;
}

.collection-view {
					display: flex;
					.item {
										.row {
															flex-direction: column;
										}
										.btn {
															display: inline-flex;
															text-align: center;
															height: 34px;
															width: 34px;
															border-radius: 50%;
															border: 1px solid #d6d6d6;
															-webkit-transition: all .3s ease;
															transition: all .3s ease;
															position: relative;
															cursor: pointer;
															margin-left: 10px;
															line-height: 32px;
															justify-content: center;
															align-items: center;
															flex-wrap: wrap;
															span {
																				width: 2px;
																				height: 10px;
																				background: #c2c2c2;
																				margin: 0 1px;
																				display: inline-block;
																				-webkit-transition: all .3s ease;
																				transition: all .3s ease;
																		}
															&:hover {
																				border-color: var(--btn-hover-color);
																				background: var(--btn-hover-color);
																				span {
																									background: #fff;
																				}
															}
															&:focus {
																				outline: 0;
																				color: var(--btn-hover-color);
																				text-decoration: none;
															}
										}
					}
}

.menu {
			 .ant-menu-submenu-title span {

							color: #000;
							background: transparent;
							margin: 0 0 25px;
							position: relative;
							display: flex;
							justify-content: space-between;
							cursor: pointer;
							font-size: 20px;
							text-transform: uppercase;
							letter-spacing: 2px;
							font-family: var(--heading-text);
			 }
}