@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #fe2c55;
    --default-layout-header-height: 114px;
    --default-layout-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}
.anticon svg {
    display: flex !important;
}
button:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}
input:focus-visible {
    outline: -webkit-focus-ring-color auto 0;

}
:where(.css-dev-only-do-not-override-1e3x2xa)[class^="ant-col"], :where(.css-dev-only-do-not-override-1e3x2xa)[class*=" ant-col"] {
    font-size: 12px;
}
:where(.css-dev-only-do-not-override-1e3x2xa)[class^="ant-space"], :where(.css-dev-only-do-not-override-1e3x2xa)[class*=" ant-space"] {
    font-size: 12px;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-select-single .ant-select-selector {
    font-size: 11px;
    color: white;
}