.wrapper {
          opacity: 0;
          visibility: hidden;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          transition: all 0.3s ease;
          transform: translateY(50px);
          overflow: hidden;
          &:hover {
                    background: var(--btn-hover-color);
          }

}
.wishlistAdded {
          background: var(--btn-hover-color);
}

.compare_added {
          background: var(--btn-hover-color);
          svg path {
		color: #fff !important;
		fill: #fff;
		stroke: #fff !important;
	}
	svg polyline {
		stroke: #fff !important;
		color: #fff !important;
	}
	svg g {
		stroke: #fff !important;
		color: #fff !important;
	}
}

.normal {
          background: white;
}


