@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato&display=swap");

:root {
  --primary: #fe2c55;
  --default-layout-header-height: 114px;
  --default-layout-width: 100%;
  --heading-text: Cormorant Garamon;
  --title-text-color: #868686;
  --title-text-size: 14px;
  --btn-hover-color: #cb8161;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato";
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
}
.anticon svg {
  display: flex !important;
}
button:focus-visible {
  outline: -webkit-focus-ring-color auto 0;
}
input:focus-visible {
  outline: -webkit-focus-ring-color auto 0;
}
:where(.css-dev-only-do-not-override-1e3x2xa)[class^="ant-col"],
:where(.css-dev-only-do-not-override-1e3x2xa)[class*=" ant-col"] {
  font-size: 12px;
}
:where(.css-dev-only-do-not-override-1e3x2xa)[class^="ant-space"],
:where(.css-dev-only-do-not-override-1e3x2xa)[class*=" ant-space"] {
  font-size: 12px;
}
:where(.css-dev-only-do-not-override-1e3x2xa).ant-select-single
  .ant-select-selector {
  font-size: 11px;
  color: white;
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: white;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li.slick-active button {
  border-width: 1px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

.slick-active .leftright {
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-iteration-count: none;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


