
@mixin btn-hover {
	color: #fff;
				-webkit-animation-name: beat;
				animation-name: beat;
				-webkit-animation-duration: .9s;
				animation-duration: .9s;
				-webkit-animation-timing-function: ease-in-out;
				animation-timing-function: ease-in-out;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				svg path {
					color: #fff !important;
					fill: #fff;
					stroke: #fff !important;
				}
				svg polyline {
					stroke: #fff !important;
					color: #fff !important;
				}
				svg g {
					stroke: #fff !important;
					color: #fff !important;
				}
}

.row {
	flex-direction: column;
}

.column {
	flex-direction: row;
	gap: 30px;
	.image {
		flex: 0 0 35%
	}

	margin-bottom: 20px;
	.content {
		align-items: flex-start;
		text-transform:capitalize;
		.name {
			a {
				font-size: 2.7rem;		
				text-transform:capitalize;
				&:hover {
					
					color: var(--btn-hover-color);
					
					
				}
			}
		}
		.price {
			font-size: 2rem;
		}

		.description{
			display: block;
			margin-top: 30px;
			padding-top: 30px;
			width: 100%;
			border-top: 1px solid #ccc ;
			color: var(--title-text-color);
			font-size: 1.4rem;

		}
	}
}

.wrapper {
	display: flex;
	margin: 7px 2px 25px 2px;
	padding: 0 7.5px;
	position: relative;	
	&:hover {
		.image {
			overflow: hidden;
			.img-hidden {
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
				opacity: 1;
				visibility: visible;
				transition: all .3s ease;
			}
		}
		.button button, .button-type2 button {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			&:hover {
				@include btn-hover;
			      }
		}
		.button button:nth-child(2) , .button-type2 button:nth-child(1) {
			visibility: hidden;
			opacity: 0;
			display: hidden !important;
			width: 0;
		}
		.button button:nth-child(3), .button-type2 button:nth-child(3) {
			transition-delay: 0.1s;
  		} 
		.button button:nth-child(4), .button-type2 button:nth-child(4)  {
			transition-delay: 0.2s;
  		}
		.cart-form {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}
		
}


@keyframes beat {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	      }
	      50% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	      }
	      100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	      }
}

.image {
		  position: relative;
		  overflow: hidden;
		  
}

.content {
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  padding-top: 20px;
}


.ratting {
		  display: flex;
		  gap: 8px;
		  margin-bottom: 5px;
}

.name {
	font-size: 1.2rem;
	margin: 0 0 5px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #000;
	a {

		&:hover {
			color: var(--btn-hover-color);
		}
	}

}

.price {
		  color: var(--btn-hover-color);
		  font-size: 16px;
}

@mixin button-theme {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	right: 0;
	width: 100%;
	padding: 0;
	z-index: 200;
	transition: all .3s ease-in-out;
	justify-content: center;
	overflow: hidden;
}

.btn-trash {
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 1;
	visibility: visible;
	button {
		opacity: 1;
		visibility: visible;
		transform: translateY(0)
	}
	&:hover {
		@include btn-hover;
	}
}

.btn-trash-2 {
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 0;
	visibility: hidden;
}

.button {
	@include button-theme;
	bottom: 60px;
	.btn-wishlish-added {
		background: var(--btn-hover-color) !important;
	}

		  
}

.button button, .button-type2 button {

	margin: 4px;
}

.button button:nth-child(2) , .button-type2 button:nth-child(1) {
	display: hidden;
	visibility: hidden;
	opacity: 0;
	width: 0;
	margin: 0;
}


.button-type2 {
	@include button-theme;
	bottom: 15px;
}

.preloading-img {
	overflow: hidden;
}

.image .preloading-img img {
	position: absolute;
	top: 0;
	left: 0;
}

.img-visible {
	height: 100%;
}

.image .preloading-img:nth-child(1) {
	position: relative;
} 

.image .preloading-img:nth-child(2){
	position: absolute;
	top: 0;
	width: 100%;
	background: transparent;
}

.fade-in .lazyloaded {
	opacity: 1;
	transform: scale(1);
}

.fade-in {
	transform: scale(1.1);
	opacity: 0;
	transition: transform .8s cubic-bezier(.215,.61,.355,1),opacity .8s cubic-bezier(.215,.61,.355,1);
	transition-delay: .5s;
}


.img-hidden {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
	width: 100%;
}

.cart-form {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: all .3s ease;
	transform: translateY(100%);
	opacity: 1;
	visibility: visible;
	form {
		display: flex;
		width: 100%;
		background: rgba(0,0,0,.5);
		height: 40px;
		line-height: 40px;

		input {
			background: transparent;
			border: 0;
			color: #fff;
			height: 40px;
			line-height: 40px;
			width: 30px;
			text-align: center;
			padding: 0;
		}
	}
}

.cart-form-type-2 {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	transition: all .3s ease;
	transform: translateY(100%);
	opacity: 0;
	visibility: hidden;
}



.cart-btn {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&::after {
	  	content: "";
		position: absolute;
		top: 0;
		height: 100%;
		right: 0;
		width: 0;
		z-index: -1;
		background: var(--btn-hover-color);
		transition: all .3s ease;
	}

	&:hover {
		color: #fff;
		background-color: transparent;
		&::after {
			width: 100%;
		  	left: 0;
		}
	}
}
 

.qty-btn {
	display: flex;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: transparent;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&:hover {
		background: #fff;

		span {
			color: #000 !important;
		}
	}
}
 
.quick-view {
	display: flex;
	align-items: center;
	margin: 0;
	width: 100%;
	max-width: 900px;
	.image {
		position: relative;
		width: 100%;
		max-width: 450px;
	}

	.info {
		opacity: 1;
		visibility: visible;
		z-index: unset;
		height: 100%;
		overflow: auto;
		width: 100%;
		padding: 50px 30px 50px 30px;
		display: flex;
		max-height: 400px;
		
		flex-direction: column;
		.name {
			margin: 10px 0 18px 0;
			a{
				font-size: 30px;
				text-transform: capitalize;
				line-height: 35px;
				font-family: var(--heading-text);
				font-weight: 300;
				cursor: text;
				color: #000;
			}
		}
		.brand {
			margin-bottom: 20px;
			font-size: 1.8rem;
			span {
				margin-right: 5px;
			}
			a {
				text-decoration: underline;
				color: var(--btn-hover-color);
			}
		}
		.price {
			color: #000;
			font-size: 2rem;
		}
		.description{
			display: block;
			margin-top: 30px;
			padding-top: 30px;
			width: 100%;
			border-top: 1px solid #ccc ;
			color: var(--title-text-color);
			font-size: 1.4rem;

		}
		.cart-btn {
			background: #000;
			color: #fff;
			height: 100%;
		}

		.quantity {
			margin: 0 10px 0 0;
			border: 1px solid #e6e6e6;
			height: 50px;
			display: flex;
			position: relative;
			align-items: center;
		}
		.qty-btn {
			display: flex;
			background: transparent;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			width: 3.8rem;
			span {
				color: var(--title-text-color) !important;
			}
			&:hover {
				background: transparent;
		
				span {
					color: #000 !important;
				}
		
			}
		}
		.available {
			display: flex;
			gap: 5px;
			margin: 5px 0 15px;
			align-items: center;
			position: relative;
			p {
				font-size: 1.4rem;
				font-weight: 100;
			}
			.icon {
				// padding-left: 25px;
				// position: relative;
				// color: #108043;
				// &::before {
				// 	content: "";
				// 	width: 14px;
				// 	height: 14px;
				// 	background: white;
				// 	border-radius: 50%;
				// 	left: 0;
				// 	position: absolute;
				// 	top: calc(50% - 7px);
				// 	line-height: 14px;
				// 	font-family: bwpfont;
				// }
				// &::after {
				// 	z-index: -1;
				// 	position: absolute;
				// 	content: "";
				// 	width: 14px;
				// 	height: 14px;
				// 	background: #108043;
				// 	display: inline-block;
				// 	border-radius: 50%;
				// 	opacity: .25;
				// 	top: calc(50% - 7px);
				// 	left: 0;
				// 	-webkit-transform: scale(1);
				// 	-moz-transform: scale(1);
				// 	-ms-transform: scale(1);
				// 	-o-transform: scale(1);
				// 	transform: scale(1);
				// 	-webkit-animation-name: scale;
				// 	animation-name: scale;
				// 	-webkit-animation-duration: 1.5s;
				// 	animation-duration: 1.5s;
				// 	-webkit-animation-timing-function: ease-out;
				// 	animation-timing-function: ease-out;
				// 	-webkit-animation-iteration-count: infinite;
				// 	animation-iteration-count: infinite;
				// }
			}
		}
	}

}